# Copyright 2017 Vorlonsoft LLC
#
# Licensed under The MIT License (MIT)

# project file
.gradle
/local.properties

# android studio
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
*.iml

# mac
.DS_Store

/build
/captures